!!!
html
  head
    block head
      title= 'Agenda Book'
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato', type='text/css')
      link(rel='stylesheet', href=settings.cssmain, type='text/css')
      script(type='text/javascript', src=settings.jsmain)
  body
    #app.container
      div#header
        h1 Agenda Book
        - if (settings.info && settings.info.length != 0)
          each message in settings.info
            span.label.label-info= message
        - if (settings.error && settings.error.length != 0)
          each message in settings.error
            span.label.label-important= message
        - if (typeof currentUser !== 'undefined')
          a#logout(href='/sessions') Log Out
      block content
    block footer
